# Copiar a .env en el VPS. Nunca commitear .env.
POSTGRES_PASSWORD=cambiar
PUBLIC_URL=https://vigia.coredls.cloud
SEED_NPM_LIMIT=5000
SEED_PYPI_LIMIT=5000
INDEXNOW_KEY=generar_con_openssl_rand_hex_16
